<settings>
	<filters>
		<order>
			<filter name="BLUR FILTER" index="0" />
		</order>
	</filters>
	<windows>
		<window name="CONSOLE" x="0" y="0" enabled="true" />
	</windows>
	<keys>
		<SELECT_PAGE_0>81</SELECT_PAGE_0>
		<SELECT_PAGE_1>87</SELECT_PAGE_1>
		<SELECT_PAGE_2>69</SELECT_PAGE_2>
	</keys>
</settings>